<ion-header>
  <ion-navbar color="header">
    <ion-title>Bullsfly Tracker</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br><br><br><br><br><br>
  <ion-row calss="logo-row">
    <ion-col></ion-col>
      <ion-col width-55>
        <img class="image" src="assets/imgs/reload.jpg" height="50%" width="50%">      
      </ion-col>
    <ion-col></ion-col>
  </ion-row>
    
  <p align="center"><ion-icon name="alert"></ion-icon>Check your Internet connection.Try again</p>
  <ion-row calss="logo-row">
    <ion-col></ion-col>
      <ion-col width-60>
        <button ion-button full (click)="exit()" color="header">Exit&nbsp;<ion-icon name="exit"></ion-icon></button>        
      </ion-col>
      <ion-col></ion-col>
  </ion-row>
</ion-content>
